.DS_store
kaggle/

yolo_test/

yolo11n.pt
yolo11x.pt
custom_yolo_unet.pt

asciitree-0.3.3/

model/
model_checkpoints/
visualization/
test_results/
swin_unetr_btcv_segmentation/
renalStructures_UNEST_segmentation/

data_dicts.pkl

CSANet/

datasets/
data/
runs/
wandb/
data.yaml
wheels/
__pycache__/